<div class="main">
  <div class="form__wrapper">
    <h2 class="page-heading">Registration</h2>
    <div class="form-wrapper">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, class: :form__texit, id: "user_nickname", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: :form__texit, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: :form__texit, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form__texit", autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn form-btn" %>
      </div>
      <% end %>
    </div>
    </div>
  </div>



</div>
