<main class=main>
  <div class="shoe-wrapper">
    <p class="shoe-hedding">
      <%= @shoe.title %>
    </p>
    <div class="shoe-image">
      <%= image_tag @shoe.image.variant(resize: '500x500') %>
    </div>
    <div class="shoe-explanation">
      <%= @shoe.explanation %>
    </div>
    <div class="shoe-maker">
      <%= @shoe.manufacturer.name %>
    </div>
    <div class="shoe-color">
      <%= @shoe.color.name %>
    </div>
    <div class="shoe-inout">
      <%= @shoe.inout.name %>
    </div>
    <div class="shoe-user">
      <%= link_to "投稿者 #{@shoe.user.nickname}", root_path %>
    </div>
    <% if user_signed_in? && current_user.id == @shoe.user_id %>
      <div class="shoe-manage">
        <div class="shoe-edit">
          <%= link_to edit_shoe_path(@shoe.id), class: "btn btn-show" do %>
            <span>編集</span>
          <% end %>
        </div>
        <div class="delete">
          <%= link_to shoe_path(@shoe.id), class: "btn btn-show", method: :delete do %>
            <span>削除</span>
          <% end %>
        </div>
      </div>
    <% end %>
    <a href="https://twitter.com/share?url=#{request.url}" class="btn btn-sns btn-sns--twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
</main>
