<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EuroStep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="inner">
          <div class="nav">
            <div class="nav__left">
              <a href= "/" class="btn btn-flat"><span>EuroStep*</span></a>
            </div>

            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to edit_user_path(current_user), class: "btn btn-flat4" do %>
                  <span><%= current_user.nickname %></span>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-flat4" do %>
                  <span>log out</span>
                <% end %>
                <%= link_to new_shoe_path, class: "btn btn-flat4" do %>
                  <span>new shoes</span>
                <% end %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to new_user_session_path, class: "btn btn-flat4" do %>
                  <span>log in</span>
                <% end %>
                <%= link_to new_user_registration_path, class: "btn btn-flat4" do %>
                  <span>sign up</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
